@charset "utf-8";
/* CSS Document */

p {
	font-family: 'Boogaloo', cursive;
	font-size: 1.3rem;
	text-align: left;
}

.note {
	font-style: italic;
	font-size: 1.15rem;
	text-align: left;
}

.underline {
	text-decoration: underline;
	font-style: italic;
}

.footer {
	font-size: 1rem;
	text-align: center;
}

.left {
	text-align: left;
}