@charset "utf-8";
/* CSS Document */

/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end CSS Reset */










* {
	box-sizing: border-box;
}

html {
	
	max-width: 1200px;
	width: 100%; 
	
	background-color: rgb(133, 155, 143);
    font-family: Sansita, sans-serif;
	letter-spacing: 1px; 
	font-size: 1.3333333333333333vw;
	margin: 0 auto;
}

body {
	width: 85%;
	margin: 0 auto; /* Center Page */ 
	background-color: rgb(217,150,61);
	box-shadow: 3px 3px 3px 4px #000;
	color: rgb(82,49,118);
}


header {
	margin-bottom: 50px; /* Ensure that header does not overlap with the navbar.*/
	margin-top: 10px; 
}

footer {
	text-align: left;
}

span {
	float: right;
}

.headAlign {
	text-align: center;
	font-family: 'Pangolin', cursive;
	font-size: 2vw;
	display: inline;
	padding-right: 5px;
}

.strong {
	text-align: left; 
	font-weight: bold;
}

.menuHeader { /* leftover class will be used for menuHeaders, for now */ 
	text-align: left;
	background-color: #264653;
	color: #c0c5c1;
	margin: 20px 10px;
	padding-left: 15px;
}

.table {
	max-width: 960px;
}

.border {
	border: medium double black 10px;
}











/* Begin Text */ 

h1, h2, h3, h4 {
	font-weight: 700;
	font-family: Sansita, sans-serif;
}

h1 {
	font-size: 3.75vw;
}

header h1 {
	padding-top: 10px;
}

h2 {
	font-size: 2.3333333333333335vw;
}

h3 {
	font-size: 2vw;
}

.container h3, h2 {
	padding: 15px;
}

h4 {
	font-size: 1.6666666666666667vw;
}

p {
	font-family: 'Roboto', 'sans-serif';
	margin: 15px;
	line-height: 1.5;
	color: rgb(39,31,48);
	letter-spacing: 0;  
	font-weight: 500;
}

a {
	text-decoration: none;
	text-align: left;
}

a:hover {
	text-decoration: underline;
	font-family: 'Roboto', 'sans-serif';
}

a:visited {
	color: blue; 
}

.container a {
	font-size: 1.5em;
}

strong {
	font-family: Pangolin;
	color: red;
}

.small {
	font-size: 1vw;
}




.right {
	text-align: right; 
}




/* Begin Nav */
nav {
	border: solid 1px;
	margin: 0 10px;
	text-align: center;
	line-height: 1.5;
}

nav ul { 
display: table;
}


nav li {
	display: table-cell;	
}

nav ul li a {
	font-size: 1.3333333333333333vw;
	padding: 0 32px;
}









/* Begin Images */

header img {
	max-width: 192px;
	width: 100%; 
	padding: 10px;
	float: left;
}








/* Begin Table Code */


table {
	font-size: 1.6666666666666667vw;
	overflow: auto;
	margin-left: 10px; 
	
}

th {
	width: 240px;
}

td {
	font-size: 1.4166666666666667vw;
}

tbody {
	overflow: auto;
}
