@charset "utf-8";
/* CSS Document for all text */


.about {
	font-family: 'Noto Sans', sans-serif;
}


.banner h1 {
	display: inline;
	position: relative;
	top: 18px;
	left: 10px;
	text-align: center;
}

h1, h2, h3, h4 {
	font-family: 'Rokkitt', serif;
	color: rgb(215,217,219);
	margin-left: 10px;
}

p {
	color: rgb(153,158,163);
	margin-left: 10px;
}

ul {
	list-style-type: none;
}

.sidebar p, .sidebar ul {
	margin: 5px 10px;
}

.sidebar p {
	font-size: 90%;
	line-height: 30px;
}

.footerWrapper p {
		font-size: 80%;
}