@charset "utf-8";
/* CSS Document for all links (including links that have images) */


span {
	margin-left: 5px;
	line-height: 16px;
	display: inline-block;
} /* Google Chrome has a 'bug' in which the span tag doesn't render like it does in the rest of the web browsers (Firefox, IE, Edge, etc). By default, the span tag was moving to the next line. This was fixed by explicitly giving span a line-height and making the display inline-block. In order for inline-block to work, a &nsbp; needed to be added in between the span tags in the HTML document. */

a {
	color: rgba(37,132,170,1.00);
	text-decoration: none;
}

.active {
	border-bottom: 1px solid rgb(37,132,170);
	padding-bottom: 10px;
	padding-left: 2.5px;
	color: rgba(143,198,208,1.00);
}


.mainNav a:hover, .bottomNav a:hover { /* hover effect inspired by disqus' front web page. */ 
	transition-property: color;
	transition-duration: 0.65s;
	border-bottom: 1px solid rgb(37,132,170);
	padding-bottom: 10px;
	padding-left: 2.5px;
	color: rgba(143,198,208,1.00);
	

}

.normal a:hover { /* hover effect for everything else */ 
	transition: background-color .65s;
	background-color: black; 
}

.bottomNav a:hover {
	padding-left: 2.5px;
}

