@charset "UTF-8";
/* CSS Document */

@import url('phone.css');
@import url('normalize.css');
@import url('text.css');
@import url('nav.css');
@import url('images.css');
@import url('animation.css');

* {
	box-sizing: border-box;
}

@media only screen and (min-width: 414px) and (max-width: 736px) and (-webkit-device-pixel-ratio: 3) 
	/* Attributes for iPhone 6+, 6S+, and 7+ */ {
		
	html {
		width: 736px;
	}
	
	html .container {
		max-width: 736px;
		width: 100%;
	}
	
	.container .main {
		max-width: 736px;
		width: 100%;
	}
	
	.main::after {
    content: "";
    clear: both;
    display: table;
}
	
	.container .header {
		max-width: 736px;
		width: 100%;
		padding: 50px 0 125px 0;
	}
	
	.main .sectionA {
		max-width: 736px;
		width: 100%;
		float: left;
		margin-bottom: 25px;
	}
	
	.main .sectionB {
		width: 331px;
		float: left;
	}
	
	
	.container .footer {
		max-width: 736px;
		width: 100%;
	}
	
	.sectionB ul {
		width: 200px;
		margin-top: 5px;
		margin-right: 10px;

	}
	
	/* Attributes for Services Page */
	.main .servicesA {
		max-width: 150px;
		width: 100%;
	}
	
	.main .servicesB {
		max-width: 200px;
		width: 100%;
		margin-right: 0;
	}
		.main .contactIconsContainer {
		text-align: center;
	}
	
	.main .contactColor {
		height: auto;
		text-align: center;
	}
	
}

@media only screen and (min-width: 375px) and (max-width: 667px) and (-webkit-device-pixel-ratio: 2)  /* Primary attributes for iPhone 6, 6s, and 7 */ {
	html {
		width: 667px;
	}
	
	html .container {
		max-width: 667px;
		width: 100%;
	}
	
	.container .main {
		max-width: 667px;
		width: 100%;
	}
	
	.main::after {
    content: "";
    clear: both;
    display: table;
}
	
	.container .header {
		max-width: 667px;
		width: 100%;
		padding: 50px 0 125px 0;
	}
	
	.main .sectionA {
		max-width: 667px;
		width: 100%;
		float: left;
		margin-bottom: 25px;
	}
	
	.main .sectionB {
		width: 331px;
		float: left;
	}
	
	
	.container .footer {
		max-width: 667px;
		width: 100%;
	}
	
	.sectionB ul {
		width: 200px;
		margin-top: 21px;
		margin-right: 7px;

	}
	
	/* Attributes for Services Page */
	.main .servicesA {
		max-width: 150px;
		width: 100%;
	}
	
	.main .servicesB {
		max-width: 200px;
		width: 100%;
		margin-right: 0;
	}
		.main .contactIconsContainer {
		text-align: center;
	}
	
	.main .contactColor {
		height: auto;
		text-align: center;
	}
	
	
}

@media only screen and (aspect-ratio: 40/71) and (-webkit-device-pixel-ratio: 2) and (max-width: 568px)/*Main elements for iPhone 5, 5s, and SE */ { 
html {
		width: 568px;
	}
	
	html .container {
		max-width: 568px;
		width: 100%;
	}
	
	.container .main {
		max-width: 568px;
		width: 100%;
	}
	
	.main::after {
    	content: "";
    	clear: both;
    	display: table;
}
	
	.container .header {
		max-width: 568px;
		width: 100%;
		padding: 50px 0 125px 0;
	}
	
	.container .header img {
		width: 225px;
	}
	
	.main .sectionA {
		max-width: 568px;
		width: 100%;
		float: left;
		margin-bottom: 25px;
	}
	
	.main .sectionB {
		width: 331px;
		float: left;
	}
	
	.container .footer {
		max-width: 568px;
		width: 100%;
	}
	
	.sectionB ul {
		width: 160px;
		margin-top: 35px;
		margin-right: 7px;

	}
	
	/* Attributes for Services Page */
	.main .servicesA {
		max-width: 150px;
		width: 100%;
	}
	
	.main .servicesB {
		max-width: 150px;
		width: 100%;
		margin-right: 0;
	}
		.main .contactIconsContainer {
		text-align: center;
	}
	
	.main .contactColor {
		height: auto;
		text-align: center;
	}	
	
	.main .contactIcons {
	/* background-color: rgb(110,110,110; */
	margin: 0;
	text-align: center;
	display: inline-block;
	width: 300px;
	/* float: left; */
	height: 310px;
}
	
	
}

@media /* Default Desktop */ {
html { /* Main attributes for the entire page */
	width: 100%;
	font-size: 20px;
	background-color: rgb(25,25,25);
	color: white;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.header {
	margin-top: 50px;
	background: rgb(245,241,237);
	padding: 50px 0;
}

.main {
	width: 1200px;
	overflow: auto;
	margin: 0 auto;
	clear: both;
	padding: 50px 10px 0 10px;
}


.sectionA {
	width: 580px;
	float: left; 
}

.servicesA { /* same as sectionA, but for the services.html page */
	margin-top: 90px;
	width: 330px;
	float: left;
}

.footer {
	overflow: auto;
	width: 1200px;
}

.footer .sectionB {
	margin-top: -135px;
	padding-top: 15px;
	padding-bottom: 15px;
} 

.servicesB {
	margin-top: 90px;
	margin-right: 200px;
	width: 500px;
	float: right;
}


.footer .sectionA {
	margin-left: 25px;
	float: left;
}

.footer {
	margin-top: 100px;
}

#painless {
	background-color: rgb(110,110,110);
	text-align: center;
}


.contactIconsContainer {
	background-color: rgb(110,110,110);
}

.contactIcons {
	/* background-color: rgb(110,110,110; */
	margin: 0 45px;
	text-align: center;
	display: inline-block;
	width: 300px;
	/* float: left; */
	height: 310px;
}

.contactColor {
	background-color: rgb(255,138,0);
	height: 310px;
}
	
}