/* Begin CSS Reset */


* {
	box-sizing: border-box;
}
html, body, div, a, h1, h2, h3, h4, h5, h6, p, img, ol, ul, li, aside, footer, header, nav p {
  margin: 0;
  border: none;
  padding: 0;
}


html {
	font-size: 16px;
	font-family: lato;
	width: 100%;
	box-sizing: content-box;
}


ol, ul {
    list-style: none;
}


/* End CSS Reset. These resets helped me force the navbar to not move during browser zooms */

body {
	width: 1080px;
	background-color: rgb(250,250,250);
	margin-left: auto; /* centers page on the screen */
	margin-right: auto;

	
}


h1, h2, h3 {
	text-shadow: 1px 1px 1.5px #243743; 
	color: #28B78D;
	text-align: center;
	font-family: Courgette;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 48px;
	margin-bottom: 12px;
}

h2 {
	font-size: 32px;
	margin-bottom: 16px;
	letter-spacing: 2px; /* This made the drop shadow text easier to read for all H2 tags */
}

h3 {
	font-size: 24px;
	margin-bottom: 10px;
	text-shadow: .5px .5px .5px #243743; /* the drop shadow made it tough to see the h3 tag (despite letter-spacing), so I made it smaller for all h3 tags */
}



nav {

	margin-left: auto;
	margin-right: auto; /* centers the navbar */
	width: 1080px;
	background-color: #243743;
}


nav ul {
	list-style-type: none;
	width: 1080px;
	vertical-align: middle;
	height: 100%;
	float: right;
	background-color: #243743;	
}

nav li {
	display: inline-table; /* I found that table-cell and inline-table worked just as well as using padding and inline-block */
	text-align: center;
	width: 216px;
	height: 100%;

}

nav ul li a {
	/* Font Properties */
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-style: italic;
	font-weight: bold;
	font-size: 18px;
	color: #c0c0c0;
	
	
	
	/* Display Properties */
	display: table-cell;
	text-decoration: none;
	padding: 5px 0px;
	line-height: 1.4;
}


nav a:hover {
	color: #FAFAFA;
	background-color: #8A949B;
}

nav a:active {
	background-color: white;
	color: black;
}


main {
	width: 800px;
	margin-top: 10px;
	float: right;
}

main p {
	margin-left: 8px;
	margin-right: 8px;
	font-size: 18.4px;
}

main ol li {
	font-size: 18.4px;
}

main img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

aside {
	margin-top: 10px;
	width: 270px;
	float: left;
}

aside p {
	margin-bottom: 10px;
}

footer {
	clear: both; /* Forces the footer to be pushed down from the floats 8*/
	margin-top: 15px;
}

/* All class selectors are below */


.bannerPic {
	width: 100%;
	margin-top: 20px;
}



.divpic img {
	width: 90%;
	margin-left: 10px;
	display: inline-block;
}

.divpic p {
	margin-top: 8px;
	margin-left: 10px;
	margin-right: 10px;
	line-height: 1;
}

.page {
	width: 1080px;
}

.page img {
	width: 250px;
}


.section1 {
	width: 250px;
	float: left;
	margin-right: 20px;
}

.section1 p {
	margin: 10px 0 0 0;
	padding: 0px;
	line-height: 1.25;
	margin-right: 20px;
}

.note {
	font-size: 12.8px;
	text-align: center;
	margin: 0;
	padding-bottom: 10px;
}

.center {
	text-align: center;
}

.active {
	background-color: white;
	color: black;
	border: 1px solid black;
}

.fill {  /* Putting the background color in the nav tag was giving me issues, so I nested a div tag inside of the nav tag*/
	background-color: #243743;
}