@charset "utf-8";
/* CSS Document */


@import url("normalize.css");

@font-face {
	font-family: "League Gothic";
	src: url("../fonts/leaguegothic-regular-webfont.woff")
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}


/* Parameters for the entire HTML Document */

html {
	
	max-width: 1140px;
	width: 100%; 
	margin: 0 auto;
	padding: 0;
	font-family: "League Gothic", sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background-color: rgb(43,62,80);
	font-size: 1.4035087719298245vw;
}


body {
	background-color: #4e5d6c;
	min-height: 100%; 
}
/* end Parameters for the HTML Document */










/* Begin Main Styles */ 

.col-lg-5 {
	width: 98%;
	margin-top: 50px;
	background-color: rgb(78,93,108);
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
	padding-left: 1%;
	padding-right: 1%;	
}

.col-lg-5 p {
	text-align: left;
}









/* Begin Text */ 

h1 {
    font-size: 4.385964912280701vw;
	text-align: center;
	color: rgb(235,235,235);
	letter-spacing: 7px;
    font-family: "League Gothic";
}


h2 {
	font-size: 3.070175438596491vw;
	color: rgb(235,235,235);
    font-family: "League Gothic";
	letter-spacing: 1.4px;
}

p {
	font-family: Roboto, sans-serif;
	font-weight: 300;
	color: lightgray;
	font-size: 1.7543859649122806vw;
	padding-bottom: 10px;
	letter-spacing: 1px;
	line-height: 1.5;
	padding-left: 5px;
	padding-right: 5px;	
}


ul li a {
	text-decoration: none;
	color: rgb(235,235,235);
	margin-right: 7%;
}

a:link {
	color: rgb(235,21,19);
}

a:hover {
	color: rgb(19,21,235);
	text-decoration: underline;
	text-shadow: 2px 2px 5px rgb(235,21,19) ;
}







/* Begin Nav */ 

.nav {
	background-color: #4e5d6c;
	border-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	overflow: hidden;
	text-align: left;
}

#mainImage {
	display: block;
	margin-right: auto;
	margin-left: auto;
	}

.navbar {
	max-width: 100%;
	
}

ul {
	width: 100%; 
	list-style-type: none;
	}

ul li {
	display: inline;
	margin: 0 auto; 
}


/* This is borrowed CSS from Mark Glissmann from Codepen.io. Thanks Mark! :) This code organizes the photo gallery section. */
#photos #photo-gallery img:hover {
	transition: all .3s linear;
	
	opacity: .5;
}

#photos img {
	width: 30%;
	float: left;
	display: block;
	margin: 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


#photo-gallery ul {
  list-style: none;
  margin: 0px auto;
  padding: 10px;
  display: block;
  max-width: 780px;
  text-align: center;
}

#photo-gallery li  {
	display: block;
}

#overlay {
  background: rgba(0,0,0, .8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

#overlay img {
  margin: 10% auto 0;
  width: 550px;
  border-radius: 5px;
}

#photo-gallery {
	max-width: 1020px;
	width: 100%;
}

#smallerImage {
	margin: 0.67em 0;
	width: 35%;
	float: left; 
}

#diffColor {
	color: indianred;
}









/* Return to Top Code */ 
#returnTop {
	position: fixed;
	bottom: 0;
	left: 0;
}

#returnTop img {
	max-width: 17.543859649122805vw;
	width: 25%; 
}

#returnTop img:hover {
	transition: all .3s linear; 
	
	opacity: .5;
}

#returnTop p {
	color: rgb(235,21,19);
	text-align: center;
	display: inline-block;
	font-size: 0;
}

#returnTop a {
text-decoration: none;
}










/* Begin  Images */ 

img#logo {
	width: 100%; 
}
#imgCenter  {
	text-align: center;
}

img#mainImage {
	width: 100%; 
}

#spidermanHappy {
	max-width: 300px;
	width: 100%; 

 
.smallImg {
 width: 25%;
height: auto;
margin-right: 75%;	
}

.medImg {
 width: 65%;
height: auto;	
}