@charset "utf-8";
/* CSS Document */

.jumboImage {
margin-top: 20px;
}

.jumboImage img {
	width: 100%; 
}

.logo {
	margin-bottom: -40px; 
}

.quarterPhotos { /* Stock Photos on Index Page */ 
	display: inline-block;
	margin: 1% .369%;
}

.quarterPhotos img {
	width: 100%; 
}

.social img {
	max-width: 64px; 
	width: 100%;
	
	max-height: 64px;
	height: 100%;  
	margin: auto .5%; 
}

.services .col-10  img {
	width: 308px;
	height: 173px; 
}

@media only screen and (max-device-width: 768px) {
    /* For mobile phones: */
	
	footer .social img {
		max-width: 48px;
		max-height: 48px;
	}
}

@media only screen and (max-device-width: 768px) and (orientation: landscape) {
	.headerContainer .headerInsideContainer img.logo {
		margin-bottom: -40px;
	}
	.services .col-10 img {
		margin-left: 5px; 
	}
}