@charset "UTF-8";
/* CSS Document */

	.footer .sectionB  
	{ /* Thanks to Open Source Training for this reference. */
 	display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    width: 700px;
    float: right;
}

@media screen and (min-width: 1024px) /* Desktop */ { 
	
.sectionB .icons img {
	transition: all .1s ease-in-out 0s;
    -moz-transition: all .1s ease-in-out 0s;
    -webkit-transition: all .1s ease-in-out 0s;
    -o-transition: all .1s ease-in-out 0s;
	
	 
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
	transform: scale(1);
	width: 60px;
}

.footer .sectionB {
    padding: 10px 0;
    transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    -webkit-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
}

.sectionB .icons:hover img { /*create hover effect */
    
    z-index: 2;
    -moz-transform: scale(2.3);
    -webkit-transform: scale(2.3);
    -o-transform: scale(2.3);
	transform: scale(2.3);
	}  }

/* Keyframes for HTML load-in */

@keyframes welcomePage {
	0% {opacity: 0;}
	
	100% {opacity: 1;}
}


html {
	animation-name: welcomePage;
	animation-duration: .7s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}
